/*Font Personalizzato*/
@font-face {
    font-family: "tamaFont";
    src: url("/fonts/tamaconnecttype.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Impedisco agli elementi di uscire dai bordi*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Attributi globali*/
html,
body {
    margin: 0;
    padding: 0;
}

/*Flex per il body*/
body {
    display: flex;
    flex-direction: column;
    font-family: "tamaFont";
    height: 100vh;
}

/*I bottoni devono ereditare il font personalizzato*/
input,
button {
    font-family: inherit;
}

/*Header in cima allo schermo e fisso*/
/*Gli elementi devono andate a capo se escono dallo schermo*/
header {
    flex-shrink: 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/*Scalo il titolo in base alla grandezza dello schermo*/
header h1 {
    flex: 1;
    margin: 0;
    font-size: clamp(1.2rem, 2vw + 0.5rem, 2rem);
}

/*Anche il button deve scalare pur rimanendo quadrato*/
header button {
    aspect-ratio: 1 / 1;
    width: clamp(60px, 8vw, 100px);
    height: auto;
    font-size: clamp(0.8rem, 1vw, 1rem);
}

button img {
    width: 80%;
    height: 80%;
    image-rendering: pixelated;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Elemento dentro il quale ci sono i form e le tabelle animate*/
.tab-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black, 4px 4px 4px black;
}

/*Intestazione dove stanno i bottoni cliccabili per cambiare tab*/
.tab-header {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*Codice per gestire i button*/
.tab-btn {
    flex-grow: 1;
    font-size: 18px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    padding: 1em;
}
/*L'ultimo bottone non deve avere bordo a destra visto che lo ha già il tab-header*/
.tab-btn:last-child {
    border-right: none;
}

/*Tab principale con animazione di transizione*/
.tab-content {
    flex: 9;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;
    text-align: center;
    width: 100%;
    padding: 0;
}

/*Quando viene attivata la tab prende tutto lo spazio disponibile*/
.tab-content.active {
    max-height: 1000%;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    display: block;
    width: 100%;
}

/*Per formattare ogni riga del form*/
.form-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-row label {
    width: 80%;
    text-align: left;
    padding: 0.5em;
    font-size: 1.25em;
}

.form-row input {
    width: 80%;
    font-size: 1.25em;
    padding: 0.5em;
}

form button {
    width: 90%;
    margin: 10px auto;
    font-size: 1.5em;
    padding: 0.5em;
}

/*Stile del footer*/
footer {
    flex-shrink: 0;
    text-align: center;
    padding: 20px 0;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

/*La shell è il contenitore dell'area del gioco e della pulsantiera*/
.shell {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: url("/immagini/sfondi/shell.png");
    border: 3px solid #333;
    border-radius: 55% / 60%;
    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.4);
}

/*Lo schermo dove si muoverà il pet*/
#areaPet {
    position: relative;
    width: 50%;
    padding-top: 50%;
    margin-top: 2em;
    height: 0;
    background-image: url("/immagini/sfondi/sfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/*Codice che gestisce gli sprite*/
.sprite {
    position: absolute;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

/*Gli sprite vanno gestiti in base al tipo*/
.sprite[data-tipo="pet"] {
    width: 64px;
    height: 64px;
    background-size: 1280px 64px;
    transition: left 1.5s ease-out;
}

.sprite[data-tipo="cibo"] {
    width: 64px;
    height: 64px;
    background-size: 192px 64px;
}

.sprite[data-tipo="gioco"] {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
}

/*Contenitore per i pulsanti della shell*/
#pulsantiera {
    padding-top: 3em;
    white-space: nowrap;
}

/*I bottoni sono tondi con un'icona dentro ognuno*/
#pulsantiera button {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    padding: 0;
    margin: 0 5px;
}

#pulsantiera button img {
    width: 60%;
    height: 60%;
}

/*itemList è l'ul che contiene gli oggetti del negozio*/
#itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 90%;
}

/*Ogni list item è composto dal'immagine dell'oggetto, il suo nome ed il suo costo*/
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 250px;
    width: 25%;
    height: 30vh;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/*Gli sprite nel negozio non devono essere absolute ma statici*/
li .sprite {
    position: static;
    display: block;
    align-items: center;
}

li span {
    text-align: center;
}

/*Contenitore per le statistiche del pet*/
#stats {
    width: 60%;
    justify-content: center;
}

/*Rappresenta una barra vuota*/
.status-bar {
    width: 70%;
    height: 2em;
    background-color: #eee;
    border: 2px solid #333;
    overflow: hidden;
}

/*Il riempimento della barra, la sua larghezza viene calcolata dinamicamente*/
.status-fill {
    height: 100%;
    width: calc(var(--status-value) * 1%);
}

/*Contenitore per la singola barra*/
.status-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.status-label {
    margin-right: auto;
    width: 60px;
}

/*Codice che gestisce il popup*/
/*Il popup prende tutto lo schermo così che quando compare opacizzi tutto il resto*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Inizialmente è nascosto*/
.hidden {
    display: none;
}

/*Centra il contenuto del popup*/
.popup-content {
    background: white;
    padding: 2em;
    border: 3px solid black;
    border-radius: 1em;
    text-align: center;
}

/*Pulsantiera del popup*/
.popup-actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*Sotto i 1000px di schermo*/
@media screen and (max-width: 1000px) {
    /*Ingrandisco la shell per mantenere le proporzioni*/
    .shell {
        width: 40%;
    }

    /*Dimezzo la grandezza di tutti gli sprite*/
    .sprite[data-tipo="pet"] {
        width: 32px;
        height: 32px;
        background-size: 640px 32px;
    }

    .sprite[data-tipo="cibo"] {
        width: 32px;
        height: 32px;
        background-size: 96px 32px;
    }

    .sprite[data-tipo="gioco"] {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
    }

    /*Gli sprite degli oggetti del negozio però devono rimanere grandi*/
    li .sprite[data-tipo="cibo"] {
        width: 64px !important;
        height: 64px !important;
        background-size: 192px 64px !important;
    }

    li .sprite[data-tipo="gioco"] {
        width: 64px !important;
        height: 64px !important;
        background-size: 64px 64px !important;
    }
}

/*sotto i 480px di grandezza*/
@media screen and (max-width: 480px) {
    /*Ingrandisco ancora la shell*/
    .shell {
        width: 70%;
    }
}