@font-face {
    font-family: "tamaFont";
    src: url("/fonts/tamaconnecttype.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "tamaFont";
    height: 100vh;
    overflow: hidden;
}

input,
button {
    font-family: inherit;
}

header {
    flex-shrink: 0;
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid black;
    border-radius: 8px;
    /* Ombra unificata */
    box-shadow: 1px 1px 1px black, 4px 4px 4px black;
}

.tab-header {
    flex: 1;
    display: flex;
    width: 100%;
}

.tab-btn {
    flex-grow: 1;
    font-size: 18px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    padding: 1em;
}

.tab-btn:last-child {
    border-right: none;
}

.tab-content {
    flex: 9;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;

    text-align: center;
    width: 100%;
    padding: 0;
}

.tab-content.active {
    max-height: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    display: block;
    width: 100%;
}

.form-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-row label {
    width: 80%;
    text-align: left;
    padding: 0.5em;
    font-size: 1.25em;
}

.form-row input {
    width: 80%;
    font-size: 1.25em;
    padding: 0.5em;
}

form button {
    width: 90%;
    margin: 10px auto;
    font-size: 1.5em;
    padding: 0.5em;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 20px 0;
}

/* Area pet */
#areaPet {
    position: relative;
    width: 15%;
    padding-top: 15%;
    height: 0;
    background-image: url("/immagini/sfondi/sfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.sprite {
    position: absolute;
    width: 64px;
    height: 64px;
    background-size: 1280px 64px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    transition: left 1.5s ease-out;
}

#pulsantiera {
    flex: 1;
    padding-top: 1em;
}

#pulsantiera button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#pulsantiera button img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}